*{
margin: 0px;
font-family:"inter";
}

#logo{
margin-left: 50px;
margin-top: 50px;
}

#Titulo-menusuperior{
margin-left: 150px;
margin-top: 50px;
}

#Texto-menusuperior{
margin-left: 150px;
margin-top: 35px;
padding-bottom: 100px;
}

#menusuperior{
background-image: url(/imagens/fundo-menusuperior.svg);
color: aliceblue;
}

#menuinformacional{
background-color: #eaece5;
display: grid;
grid-auto-flow: column;
columns: auto;
}

.icone{
    margin: 50px 0px 50px 100px;
    padding: 25px;
}

#secaovideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.textoinformativo{
    display: flex;
    align-items: center;
}

#titulovideo{
    color: #247ba0;
    margin-top: 50px;
}

#video{
    margin: 50px 25px 50px 100px;
}

#carrossel{
    background-color: #247ba0;
    padding: 50px;
}

#titulo-carrossel{
    color: white;
    text-align: center;
    font-size: 25px;
}

#div-cards{
    margin-top: 25px;
    display: grid;
    grid-auto-flow: column;
}

.cards{
    margin-left: 25px;
}

#seta-esquerda{
    display: none;
}

#bruna{
    display: none;
}

.seta{
    margin-top: 55%;
    cursor: pointer;
}

.seta:hover{
    transform: translateY(-7px);
    transition: 0.5s;
}

#formulario{
    background-color:white;
    text-align: center;
}

#titulo-formulario{
    text-align: center;
    font-size: 25px;
    margin: 25px;
    color: #383838;
}

input{
    width: 300px;
    height: 40px;
    background-color: #eaece5;
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
}

button{
    background-color: #2478a0;
    width: 250px;
    height: 40px;
    color: #eaece5;
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
}

.button:hover{
    background-color: #318fb8;
    color: white;
    transform: translateY(-6px);
    transition: 0.7s;
    box-shadow: 0px 15px 20px #05103081;
}